<hero class="grid bg-gray-700 text-white text-center bg-cover z-10 relative bg-[url('https://media.istockphoto.com/id/1465594728/photo/personal-data-and-people-connection-concept-with-digital-graphic-linen-tree-with-user-and.jpg?s=2048x2048&w=is&k=20&c=2TgK3sEOeqx-jWRIgdaw4ljSf4uP9QomSt0kfzuh0Kw=')]">
    <div class="col-start-1 row-start-1 bg-gray-800 bg-opacity-40 w-full h-full"></div>
    <div class="col-start-1 row-start-1 py-24 px-10 ">
        <h1 class="font1 text-6xl title-fadein"> Social Media Application-LinkUp</h1>
        <p class="text-lg font-bold mb-5">Share your thoughts and connect with others also you can share photos form filcker</p>
       {% if not user.is_authenticated %}
        <a class="button" href="{% url 'account_signup' %}">Get Started</a>
        {% endif %}
    </div>
</hero>