{% extends "layouts/d.html" %}
{% load static %}

{% block content %}

<inbox class="grid grid-cols-5 sm:grid-cols-4 h-[calc(100vh-8rem)] md:h-[calc(100vh-12rem)] shadow-2xl rounded-2xl mx-auto">
    
    <div x-data="{ modal_open: false }" class="col-span-1 bg-slate-10 rounded-l-2xl p-2 overflow-y-auto">
        <div class="p-0 sm:p-4 mb-3 sticky top-0 z-10">
            <a @click="modal_open = true" class="flex cursor-pointer items-center justify-center h-14 sm:h-16 gap-2 bg-gray-800 hover:bg-indigo-600 text-white rounded-full px-4 py-2">
               <div class="hidden lg:block text-white rounded-full font-bold">New Message</div>
            </a>
        </div>

        <div x-show="modal_open" x-cloak class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
            <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
            <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
                <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
                    <div class="relative transform overflow-hidden rounded-2xl bg-white text-left shadow-xl transition-all sm:w-full sm:max-w-lg">
                        <div @click.away="modal_open = false" class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                          {% include 'a_inbox/form_searchuser.html' %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% include 'a_inbox/my_conversations.html' %}
    </div>
  {% include 'a_inbox/conversation.html' %}
</inbox>

<script>
    function scrollToBottom() {
        const container = document.getElementById('conversation');
        if (container) { // Check if the element exists
            container.scrollTop = container.scrollHeight;
        }
    }

    window.onload = function() {
        scrollToBottom();
    };
</script> 

{% endblock %}






{% comment %} {% extends "layouts/d.html" %}
{% load static %}

{% block content %}


<inbox class="grid grid-cols-5 sm:grid-cols-4 h-[calc(100vh-8rem)] md:h-[calc(100vh-12rem)] shadow-2xl rounded-2xl mx-auto">
    <div x-data="{ modal_open: false }" class="col-span-1 bg-slate-10 rounded-l-2xl p-2 overflow-y-auto">
        <div class="p-0 sm:p-4 mb-3 sticky top-0 z-10">
            <a @click="modal_open = true" class="flex cursor-pointer items-center justify-center h-14 sm:h-16 gap-2 bg-gray-800 hover:bg-indigo-600 text-white rounded-full px-4 py-2">
                <img class="h-6 m-auto lg:m-0" src="https://img.icons8.com/external-anggara-glyph-anggara-putra/32/ffffff/external-message-email-anggara-glyph-anggara-putra-2.png" alt="New Message Icon">
                <div class="hidden lg:block text-white rounded-full font-bold">New Message</div>
            </a>
        </div>

        <div x-show="modal_open" x-cloak class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
            <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
            <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
                <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
                    <div class="relative transform overflow-hidden rounded-2xl bg-white text-left shadow-xl transition-all sm:w-full sm:max-w-lg">
                        <div @click.away="modal_open = false" class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                            <h3 class="text-xl font-bold mb-4" id="modal-title">
                                New Message
                            </h3>
                            <div id="new-message">
                                <div class="flex gap-2 items-center">
                                    <span class="font-bold">To:</span>
                                    <input class="p-3 w-screen lg:w-full border rounded-md" placeholder="Search user..." type="text" name="search_user"> 
                                </div>
                                <div id="search-results" class="block h-60 overflow-y-auto">
                                    <ul id="user-list" class="mt-2">
                                        <li>
                                            <a href="#" class="flex items-center gap-1 hover:bg-zinc-100 rounded-lg p-2 cursor-pointer">
                                                <img class="w-10 h-10 object-cover rounded-full mr-1" src="https://img.icons8.com/external-anggara-glyph-anggara-putra/32/000000/external-user-avatar-anggara-glyph-anggara-putra.png" alt="User Avatar">
                                                <div class="font-bold">Pete <span class="text-xs font-normal text-zinc-500">pete@example.com</span></div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="flex items-center gap-1 hover:bg-zinc-100 rounded-lg p-2 cursor-pointer">
                                                <img class="w-10 h-10 object-cover rounded-full mr-1" src="https://img.icons8.com/external-anggara-glyph-anggara-putra/32/000000/external-user-avatar-anggara-glyph-anggara-putra.png" alt="User Avatar">
                                                <div class="font-bold">John Doe <span class="text-xs font-normal text-zinc-500">john.doe@example.com</span></div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ul id="conversations-list" class="flex flex-col gap-1 divide-y mt-2">
            <li class="rounded-full sm:rounded-lg relative mt-2 sm:mt-0">
                <a href="#" class="flex items-center justify-center lg:justify-normal gap-1 hover:bg-zinc-200 rounded-full">
                    <img class="w-11 h-11 lg:w-10 lg:h-10 object-cover rounded-full" src="https://img.icons8.com/color/32/000000/circled-user-male-skin-type-1-2.png" alt="Pete Avatar">
                    <div class="hidden lg:block font-bold ml-1">Pete</div>
                </a>
            </li>
            <li class="rounded-full sm:rounded-lg relative mt-2 sm:mt-0">
                <a href="#" class="flex items-center justify-center lg:justify-normal gap-1 hover:bg-zinc-200 rounded-full">
                    <img class="w-11 h-11 lg:w-10 lg:h-10 object-cover rounded-full" src="https://img.icons8.com/small/32/000000/circled-user-male-skin-type-1-2.png" alt="Kevin Avatar">
                    <div class="hidden lg:block font-bold ml-1">Kevin</div>
                </a>
            </li>
            <li class="rounded-full sm:rounded-lg relative mt-2 sm:mt-0">
                <a href="#" class="flex items-center justify-center lg:justify-normal gap-1 hover:bg-zinc-200 rounded-full">
                    <img class="w-11 h-11 lg:w-10 lg:h-10 object-cover rounded-full" src="https://img.icons8.com/small/32/000000/circled-user-male-skin-type-1-2.png" alt="Kevin Avatar">
                    <div class="hidden lg:block font-bold ml-1">lisha</div>
                </a>
            </li>
        </ul>
    </div>

    <div id="conversation" class="col-span-4 sm:col-span-3 opacity-0 flex flex-col bg-white rounded-r-2xl pt-10 relative"
         _="on load wait for 5ms then remove.opacity-0">

        <div class="text-center flex flex-col items-center">
            <a href="/profile">
                <img class="w-24 h-24 rounded-full object-cover mb-4" src="https://img.icons8.com/color/120/cookie-monster.png" alt="Pete Profile Picture">
            </a>
            <div class="text-center max-w-md">
                <h1 class="text-lg">Pete</h1>
                <div class="text-gray-400 mb-2 mt-5 text-sm">@pete</div>
            </div>
        </div>

        <ul id="inbox-messages" class="flex flex-col justify-end grow gap-6 p-4 sm:p-10 pb-0">
            <li>
                <div class="flex flex-col md:flex-row gap-1 md:gap-6">
                    <a class="contents" href="/profile">
                        <img class="w-14 h-14 object-cover rounded-full" src="https://pbs.twimg.com/profile_images/508190886720491520/qCpT6jE7_400x400.jpeg" alt="Bart Avatar">
                    </a>
                    <div class="bg-white p-4 w-full rounded-xl border-2 border-gray-200">
                        <div class="flex flex-col md:flex-row justify-between text-xs pb-3 text-zinc-500">
                            <div>
                                <span class="font-bold text-base text-black mr-1">Bart</span>@bart
                            </div>
                            <div>Sep 1, 2023, 11:11 AM (1 hour ago)</div>
                        </div>
                        <div>
                            Hi, how are you?
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="flex flex-col md:flex-row gap-1 md:gap-6">
                    <a class="contents" href="/profile">
                        <img class="w-14 h-14 object-cover rounded-full" src="https://img.icons8.com/color/48/cookie-monster.png" alt="User Avatar">
                    </a>
                    <div class="bg-white p-4 w-full rounded-xl border-2 border-gray-200">
                        <div class="flex flex-col md:flex-row justify-between text-xs pb-3 text-zinc-500">
                            <div>
                                <span class="font-bold text-base text-black mr-1">User</span>@user
                            </div>
                            <div>Sep 1, 2023, 11:12 AM (1 hour ago)</div>
                        </div>
                        <div>
                            I'm doing well, thanks!
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="flex flex-col md:flex-row gap-1 md:gap-6">
                    <a class="contents" href="/profile">
                        <img class="w-14 h-14 object-cover rounded-full" src="https://pbs.twimg.com/profile_images/508190886720491520/qCpT6jE7_400x400.jpeg" alt="Bart Avatar">
                    </a>
                    <div class="bg-white p-4 w-full rounded-xl border-2 border-gray-200">
                        <div class="flex flex-col md:flex-row justify-between text-xs pb-3 text-zinc-500">
                            <div>
                                <span class="font-bold text-base text-black mr-1">Bart</span>@bart
                            </div>
                            <div>Sep 1, 2023, 11:22 AM (1 hour ago)</div>
                        </div>
                        <div>Pretty ok. What is the meaning of life?</div>
                    </div>
                </div>
            </li>
        </ul>

        <div class="sticky bottom-0 z-1 pl-4 sm:pl-10 pt-6 pb-10 flex bg-white">
            <a href="#" class="flex cursor-pointer items-center gap-2 bg-gray-800 hover:bg-indigo-600 text-white rounded-full px-4 py-2">
                <img class="h-6" src="https://img.icons8.com/material/96/ffffff/reply-arrow--v1.png" alt="Reply Icon">
                <div class="text-white rounded-full">Reply</div>
            </a>
        </div>

    </div>
</inbox>

<script>
    function scrollToBottom() {
        const container = document.getElementById('conversation');
        if (container) { // Check if the element exists
            container.scrollTop = container.scrollHeight;
        }
    }

    window.onload = function() {
        scrollToBottom();
    };
</script> 


{% endblock %} {% endcomment %}

